<div class="container">

    <h2>Configure Tag Policy</h2>

    <div class="form">
        <input
                type="text"
                placeholder="Tag Key"
                [(ngModel)]="tagKey" />

        <input
                type="text"
                placeholder="Tag Value"
                [(ngModel)]="tagValue" />

        <button (click)="addRule()">Add Rule</button>
    </div>

    <div *ngIf="rules.length > 0" class="rules">
        <h4>Rules</h4>

        <div *ngFor="let r of rules">
            {{ r.key }} : {{ r.value }}
        </div>
    </div>

    <button class="primary" (click)="saveAndGo()">
        Save & View Dashboard
    </button>

</div>
